@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.logo-heading{
    display: flex;
    justify-content: center;
}

.navbar-brand{
    font-size: 2rem;
    /* font-weight: bold; */
    font-family: 'Lobster', cursive;
}

.section{
    background-color: #F5F5F550;
    min-height: 80vh;
}

.img{
    height:200px;
}

.btn{
    background-color: #609DF8 !important;
    border-color: #609DF8 !important;
    color: white !important;
    margin: 0 auto;
    padding: 10px 45px !important;
}

.box-size{
    margin: 20px 0px;
    min-height: 200px;
    font-family: 'Kalam', cursive;
}



/* footer */
.foot{
    padding: 3rem 0;
    background-color: #609DF8;
    color: white;
}

.footer-text{
    width:800px;
    margin: 0 auto;
}


@media(max-width:480px){
    .navbar-brand{
        font-size: 1.5rem;
    }

    .footer-text{
        width:350px;
    }
}