@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');



.logo-heading{
    display: flex;
    justify-content: center;
    background-color: #FDC160 !important;
}

.navbar-item{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Kalam', cursive;
    color: white !important;
}

.section{
    background-color: #F5F5F550;
    min-height: 80vh;
}

.btn{
    background-color: #FDC160 !important;
    border-color: #FDC160 !important;
    color: white !important;
}

.box-size{
    margin: 20px 0px;
    min-height: 200px;
    font-family: 'Kalam', cursive;
}



/* footer */
.foot{
    padding: 3rem 0;
    background-color: #FDC160;
    color: white;
}

.footer-text{
    width:500px;
    margin: 0 auto;
}

@media(max-width:480px){
    .footer-text{
        width:300px;
    }
}